@import "../method/functions/funct";
@import "color";
$h: 100% !default;
$ipt: !important;
$font_size: 16px !default;
$font_color: black !default;
$font_impact:           Impact, Charcoal, sans-serif;
$font_palatino:         'Palatino Linotype', 'Book Antiqua', Palatino, serif;
$font_tahoma:           Tahoma, Geneva, sans-serif;
$font_century:          Century Gothic, sans-serif;
$font_lucida:           'Lucida Sans Unicode', 'Lucida Grande', sans-serif;
$font_arial-black:      'Arial Black', Gadget, sans-serif;
$font_times:            'Times New Roman', Times, serif;
$font_arial-narrow:     'Arial Narrow', sans-serif;
$font_verdana:          Verdana, Geneva, sans-serif;
$font_copperplate:      Copperplate / Copperplate Gothic Light, sans-serif;
$font_lucida-console:   'Lucida Console', Monaco, monospace;
$font_gill-sans:        Gill Sans / Gill Sans MT, sans-serif;
$font_trebuchet-ms:     'Trebuchet MS', Helvetica, sans-serif;
$font_courier-new:      'Courier New', Courier, monospace;
$font_arial:            Arial, Helvetica, sans-serif;
$font_georgia:          Georgia, Serif;
$scren:(
    smart_v:    320,    //mobile vertical
    smart_h:    480,    //mobile horizontal
    tablet_v:   768,    //tablet vertical
    tablet_h:   1024,   //tablet horizontal y pc
    desktop:    1280,   //pc
    wide:       1680    //wide
);
$w: screnpx(desktop) !default;

$instance:();