@function hsv($h, $s: 0, $v: 0){
    @if type_of($h) == 'list' {
        $v: nth($h, 3);
        $s: nth($h, 2);
        $h: nth($h, 1);
    }
    //end-if
    //@warn "h:#{$h} s:#{$s} v:#{$v}";
    $vv: $v/1%;
    $ss: $s/1%;
    $c: ($vv * $s)/100;
    $m: $v - $c;
    $x: $c * ( 1 - abs((( $h / 60deg ) % 2 )- 1 ));
    //@warn "c:#{$c} m:#{$m} x:#{$x}";
    @if $h >= 0 and $h < 60deg{
        @return rgb(($c + $m), ($x + $m), ($m));
    }@else if $h >= 60deg and $h < 120deg{
        @return rgb(($x + $m), ($c + $m), ($m));
    }@else if $h >= 120deg and $h < 180deg{
        @return rgb(($m), ($c + $m), ($x + $m));
    }@else if $h >= 180deg and $h < 240deg{
        @return rgb(($m), ($x + $m), ($c + $m));
    }@else if $h >= 240deg and $h < 300deg{
        @return rgb(($x + $m), ($m), ($c + $m));
    }@else if $h >= 300deg and $h < 360deg{
        @return rgb(($c + $m), ($m), ($x + $m));
    }
    //end-if
}
//end-function

@function hsv2($h, $s: 0, $v: 0){
    @if type_of($h) == 'list' {
        $v: nth($h, 3);
        $s: nth($h, 2);
        $h: nth($h, 1);
    }
    //end-if
    $v: max(0, min(100,$v))/100;
    @if $s == 0{
        $b: $v;
        $g: $b;
        $r: $g;
        @return rgb(round($r * 255), round($g * 255), round($b * 255));
    }
    //end-if
    $h: max(0, min(360,$h))/60;
    $s: max(0, min(100,$s))/100;
    $i: floor($h);
    $f: $h - $i;
    $p: $v * (1 - $s);
    $q: $v * (1 - $s * $f);
    $t: $v * (1 - $s * (1 - $f));
    
    @if $i == 0 {
        @return rgb(round($v * 255), round($t * 255), round($p * 255));
    }@else if $i == 1{
        @return rgb(round($q * 255), round($v * 255), round($p * 255));
    }@else if $i == 2{
        @return rgb(round($q * 255), round($v * 255), round($t * 255));
    }@else if $i == 3{
        @return rgb(round($p * 255), round($q * 255), round($v * 255));
    }@else if $i == 4{
        @return rgb(round($t * 255), round($p * 255), round($v * 255));
    }@else if $i == 5{
        @return rgb(round($v * 255), round($p * 255), round($q * 255));
    }
    //end-if
}
//end-function